html,
body {
  margin: 0px;
  padding: 0px;
  font-family: Inter, sans-serif;
}

section {
  position: absolute;
  margin: 0;
  padding: 0;
  background: url("./images/bannerimg1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 80vh;
  display: flex;
}
