html,
body {
  margin: 0px;
  padding: 0px;
  font-family: Inter, sans-serif;
  background-color: #000000;
  color: white;
}

/*HEADER*/
.Header {
  height: 650px;
  overflow: hidden;
}
.bannerimg {
  position: absolute;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 650px;
  display: flex;
  overflow: hidden;
}

.innerbannerdiv {
  align-items: center;
  position: absolute;
  margin-top: 0px;
  padding-top: 0px;
  margin-left: 20%;
  margin-top: 10px;
  width: 60%;
  height: 80%;
}

.navitemsdiv {
  display: flex;
  align-items: center;
  color: white;
}
.navitemsdiv > a,
.navitemsdiv2 > a {
  color: white;
  text-decoration: none;
  padding-top: 40px;
  font-size: 15px;
  padding-right: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.navitemsdiv > a:hover,
.navitemsdiv2 > a:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration: underline 2px;
}

.navitemsdiv2 {
  display: flex;
  align-items: center;
  color: white;
  margin-left: auto;
}

.navitemsdiv2 > button {
  color: white;

  margin-top: 40px;
  background-color: transparent;
  border: 2px solid white;
  padding: 10px 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}
.navitemsdiv2 > button:hover {
  background-color: white;
  color: grey;
}

/*SEARCH BAR*/
.searchbardiv {
  margin-top: 20%;
  width: 100%;
  height: 45px;
  background-color: white;
  border-radius: 5px;
  display: flex;
}

.searchbardiv > h1 {
  align-self: center;
  color: #666666;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  font-size: 20px;
  font-family: helvetica;
}

.searchbardiv > input {
  font-size: 19px;
  margin-left: 10px;
  border-style: none;
  width: 40%;
}
.searchbardiv > input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}
.vl {
  border-left: 2px solid grey;
  height: 30px;
  margin-top: 9px;
  margin-left: 10px;
}
.searchbardiv > button {
  border: 0;
  background-color: #b82727;
  border-radius: 0 5px 5px 0px;
  width: 70px;
  margin-right: 0px;
  cursor: pointer;
}
.searchbardiv > button:hover {
  background-color: #be1f20;
}
.searchimg {
  width: 20px;
}
/*SEARCH BAR END*/

.btmnavitemsdiv {
  display: flex;
  color: white;
  margin-left: 25%;
}
.btmnavitemsdiv > a {
  color: white;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
  padding-right: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 200;
}
.btmnavitemsdiv > a:hover {
  text-decoration: underline;
}
.navimg {
  height: 15px;
  width: 18px;
  margin-top: 21px;
  padding-right: 2px;
}

.logo {
  width: 400px;
  height: 400px;
  margin-left: 30%;
}
/*HEADER END*/

/*HIGHLY RATED*/
.Highlyratedscroldiv {
  width: 90%;
  margin-left: 5%;
  display: flex;
}
.rightbtn {
  margin-right: auto;
  margin-left: -45px;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 0;
  width: 40px;
  height: 55px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: solid 2px white;
  border-radius: 5px;
  cursor: pointer;
}
.rightbtn:hover {
  background-color: #666666;
}
.leftbtn {
  margin-left: auto;
  margin-right: -50px;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 0;
  display: flex;
  align-items: center;
  height: 55px;
  width: 40px;
  background-color: transparent;
  border: solid 2px white;
  border-radius: 5px;
  cursor: pointer;
}
.leftbtn:hover {
  background-color: #666666;
}
.scrollimg {
  width: 30px;
  margin: auto;
}
.myborder {
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 5px;
  width: 90%;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
}
.Highlyrateddiv {
  width: 100%;
  margin-top: 20px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  border-radius: 5px;
  scroll-behavior: smooth;
}
/*HIGHLY RATED CARD*/
.fullcard {
  margin-left: 10px;
  margin-right: 10px;
}
.itmimgdiv {
  width: 250px;
  height: 200px;
  border-radius: 5px 5px 0px 0px;
  overflow: hidden;
}
.itmimgdiv > a {
  text-decoration: none;
}
.card--badge {
  background-color: white;
  padding: 5px 7px;
  margin-top: -80%;
  margin-bottom: 50px;
  margin-left: 5px;
  border-radius: 2px;
  font-weight: bold;
}
.itmimg {
  width: 100%;
  height: 100%;
}
.btmcarddiv {
  width: 250px;
  height: 150px;
  background-color: #1a1a1a;
  border-radius: 0 0 5px 5px;
}

.rateinfo {
  display: flex;
  padding-top: 5px;
  padding-left: 12%;
  width: 100%;
  height: 50%;
}
.ratingsimg {
  width: 80%;
  margin-top: 0px;
  margin-bottom: -0px;
  margin-left: -60px;
  margin-right: -60px;
}
.rateintotxtdiv {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 20px;
  width: 60px;
  margin-right: -5px;
  margin-top: 10px;
  margin-bottom: -0px;
}
.rateintotxt {
  margin: auto;
  font-size: medium;
  color: white;
  padding: 0;
}
.rateintotxtdiv1 {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 20px;
  width: 60px;
  margin-left: -3px;
  margin-right: 0px;
  margin-top: 10px;
  margin-bottom: -px;
}
.rateintotxt1 {
  margin: auto;
  font-size: medium;
  color: white;
  padding: 0;
}

.itemnameandlocationdiv {
  height: 50%;
  padding: 0px;
  margin: 0px;
  color: white;
  overflow: hidden;
}

.itemname {
  display: flex;
  align-content: center;
  overflow: hidden;
  width: 100%;
  height: 50%;
}
.itemnameimg {
  align-self: center;
  width: 20px;
  height: 20px;
  padding-left: 10px;
}
.itemnametxt {
  align-self: center;
  color: white;
  padding-left: 10px;
  font-size: medium;
  text-decoration: none;
}
.itemnametxt:hover {
  text-decoration: underline;
}
.itemlocation {
  display: flex;
  align-content: center;
  overflow: hidden;
  width: 100%;
  height: 50%;
}
/*HIGHLY RATED CARD END*/

/*HIGHLY RATED END */

/*TALKS*/
.talkstotal {
  margin-top: 70px;
  margin-left: 10%;
  border-radius: 5px;
  width: 80%;
  overflow: hidden;
  display: flex;
}
.talkstoptext {
  font-size: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
  margin-right: -105px;
  z-index: 0;
}
.talkstoptexttype {
  font-size: 25px;
  margin-top: 20px;
  padding-left: 110px;
  z-index: 0;
}
/*CHANGING TALKS*/
.changingtalks {
  height: 550px;
  width: 800px;
  border-radius: 5px;
  display: flex;
  background-color: green;
  overflow-x: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.talksimg {
  width: 800px;
  height: 550px;
  display: flex;
}
.topratedname {
  color: white;
  padding-top: 100px;
}
.topratedinfo {
  width: 800px;
  height: 550px;

  margin-top: -560px;
}
.talksrightbtn {
  z-index: 0;
  display: flex;
  align-items: center;
  height: 55px;
  width: 40px;
  background-color: transparent;
  border: solid 2px white;
  border-radius: 5px;
  cursor: pointer;
  margin-right: -800px;
  margin-left: 720px;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
}
.talksrightbtn:hover {
  background-color: #666666;
}
.talksleftbtn {
  z-index: 0;
  display: flex;
  align-items: center;
  height: 55px;
  width: 40px;
  background-color: transparent;
  border: solid 2px white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
}
.talksleftbtn:hover {
  background-color: #666666;
}

/*CHANGING TALKS END*/

/*RECOMENDATIONS*/

.recomendations {
  width: 400px;
  height: 550px;
  margin-left: auto;
  border-radius: 5px;
  overflow: hidden;
  background-image: linear-gradient(#101010, #000000);
}

.talkstoptext1 {
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.recomendationcont {
  border-radius: 5px;
  margin-top: 15px;

  width: 400px;
  height: 155px;
  display: flex;
  align-items: center;
  overflow-y: hidden;
}

.recommendimgdiv {
  width: 30%;
  height: 100%;
  overflow: hidden;
  display: flex;
}
.reco-img {
  width: 90%;
  height: 100%;
  margin: auto;
}
.recommend-details {
  width: 70%;
  height: 100%;
  background-color: blue;
  margin: 0;
}
.recommend-type {
  width: 100%;
  height: 38%;
  background-color: green;
  margin: 0;
  margin-bottom: 2%;
}
.other-recommend-details {
  width: 100%;
  height: 58%;
  background-color: yellow;
  margin: 0;
  margin-top: 2%;
}
/*RECOMENDATIONS END */

/*TALKS END*/
