html,
body {
  margin: 0px;
  padding: 0px;
  font-family: Inter, sans-serif;
}
.Header {
  height: 650px;
}
.bannerimg {
  position: absolute;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 650px;
  display: flex;
}

.innerbannerdiv {
  position: absolute;
  margin-left: 20%;
  margin-top: 10px;
  width: 60%;
  height: 80%;
}

.navitemsdiv {
  display: flex;
  align-items: center;
  color: white;
}
.navitemsdiv > a {
  color: white;
  text-decoration: none;
  padding-top: 40px;
  font-size: 15px;
  padding-right: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.navitemsdiv > a:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration: underline 2px;
}
